.product-list-section { 
  height: 100%;
}

.top-Nav {
  background-color: #c98276;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  position: sticky;
  top: 0px;
}

.all-products {
  font-size: 30px;
  font-weight: 900;
  font-family: cursive;
  color: #290303;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #894e3f;
}

.products-home {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 40px; 
}

.price_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 20px;
  font-weight: 500;
  padding-block: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.price {
  font-size: 15px;
  font-weight: 300;
  padding-block: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.single-products {
  border: 1px black;
  background-color: #ffffff5e;
  height: 420px;

}

.single-products:hover {
  .price-name {
    height: 74px;
  }
}

.product_not {
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  height: 500px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 9px 20px rgb(0 0 0 / 87%);
  }



  .product-details {
    padding: 16px;
    text-align: center;

    .product-name {
      font-size: 1.5em;
      margin: 0;
      color: #333;
    }

    .product-price {
      font-size: 1.2em;
      margin: 8px 0 8px;
      color: #888;
    }
  }
}

.price-name {
  height: 125px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: height ease-in-out 0.4s;
  flex-direction: column;
}

.icons_button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.details {
  padding: 10px;
  width: 23%;
  color: white;
  border: none;
  border-radius: 11px;
}

.details:hover {
  cursor: pointer;
}

.product-image {
  width: 250px;
  height: 250px;
  border: 2px solid;
  border-radius: 50px;
  overflow: hidden;
  margin: 15px;
}

.view-details {
  background-color: #eec1ad;
  color: #8f3232;
  border: none;
  border-radius: 50%;
}

.view-details:hover {
  cursor: pointer;
}

.cake-icon {
  color: white;
}

@media screen and (max-width:600px) {
  .span-small {
    display: none;
    visibility: hidden;
  }

  .products-home {
    width: auto;
    justify-content: flex-end;
    gap: 10px;
  }
  .price-name {
    height: 74px;
  }
}