<div class="product-list-section" appChangeBackground="{{currentColor}}">
  <div class="top-Nav">
    <div class="all-products"><mat-icon class="cake-icon">cake</mat-icon> Cake Shop</div>
    <div class="products-home">
      <button mat-raised-button color="primary" class="add-product" (click)="openDialog('add',{})"><i
          class="fa-solid fa-plus"></i><span class="span-small">Add Product</span></button>
      <button mat-raised-button class="Home" (click)="navigateTo('home',0)" appChangeBackground="{{currentColor}}"><i
          class="fa-solid fa-house-chimney"></i><span class="span-small">Back to Home</span></button>
    </div>
  </div>
  <ng-container *ngIf="products?.length">
    <div class="products" appChangeBackground="{{currentColor}}">
      <div class="product-card single-products" *ngFor="let product of products">
        <div class="product-image"><img [src]="product.image? imagestore+product.image:'assets/noImage.jpg'"
            alt="{{product.image}}" style="width: 100%;height: 250px;object-fit: cover;"></div>
        <div class="product-details">
          <div class="price-name">
            <h2 class="product-name">{{product.name | titlecase}}</h2>
            <p class="product-price">{{product.price | currency:'INR'}}</p>
          </div>
          <div class="icons_button">
            <button class="details" style="background-color: #8f3232;" (click)="openDialog('edit',product)"><i
                class="fa-solid fa-pen-to-square"></i></button>
            <button class="details" style="background-color: #894e3f;" (click)="openDialog('delete',product)"> <i
                class="fa-solid fa-trash"></i></button>
            <button class="view-details"
              (click)="navigateTo('products',product?.id)"><mat-icon>visibility</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!products?.length">
    <div class="product_not" appChangeBackground="{{currentColor}}">
      <img src="assets/product_not_avilable.png">
      No Products Available
    </div>
  </ng-container>
</div>