.product-detail {
  display: flex;
  flex-direction: row;
  // width: 100%;
  top: 60px;
  position: relative;
  border: 1px solid #590b0bd9;
  margin-inline: 50px;
  border-radius: 40px;
}

.image-side {
  padding: 20px;
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.backProducts {
  margin-block: 10px; 
  position: fixed;
  top: -13px;
  padding: 10px;
  z-index: 4;
  width: 100%;
  margin-inline: 0px;
  background-color: #c98276;
}

.single-image {
  height: 90%;
  width: 80%;
}

.content-side {
  width: 50%;
  padding: 20px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: cursive;
}

.productName {
  font-size: 40px;
  font-weight: 900;
  color: #571616;
  margin: 10px;
  line-height: 1.5;
  padding: 10px;
  padding-left: 0px;
  margin-left: 0px;
}

.productPrice {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

.cartbtn {
  background-color: #471111c9 !important;
  color: white !important;
}

.productDescription {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  padding-block: 18px;
}

.productPriceWord {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  margin-top: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

@media screen and (max-width:750px) {

  .product-detail {
    flex-direction: column;
    justify-content: center;
    padding-left: 15px; 
    border: none;
    margin: 0px;
    border-radius: 0px;

  }

  .single-image {
    width: 350px;
    height: 250px; 
  }

  .content-side {
    padding: 0px;
    width: 100%;
  }

  .productName {
    padding: 0px;
    margin: 0px;
  }
  .image-side{
    width: 85%;
    justify-content: center;
  }
}