<div class="backProducts">
  <button mat-raised-button (click)="navigateTo('products')">Back To Products</button>
</div>
<div class="product-detail">
  <div class="image-side">
    <div class="single-image">
      <img [src]=" singleProduct?.image? imagestore+singleProduct?.image:'assets/noImage.jpg'" alt="productImage"
        width="100%" height="100%">
    </div>
  </div>
  <div class="content-side">
    <div class="productName">{{singleProduct?.name | uppercase}}</div>
    <div class="productPrice">{{singleProduct?.price | currency}}</div>
    <button mat-raised-button class="cartbtn">Add to Cart</button>
  </div>
</div>