.dialog-section {
  padding: 30px; 
  padding-top: 0px;
  min-width: 285px;
  max-width: 360px;
  max-height: 500px;
}

.dialog-head {
  position: sticky;
  top: 0px;
  font-size: 20px;
  font-weight: 500;
  z-index: 5;
  padding: 16px;
  background-color: white;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-block: 10px;
}

.save_btn {
  margin-left: 10px;
}

.input_file {
  position: absolute;
  opacity: 0;
  z-index: 1;
  height: 200px;
  width: 200px;
}

.images-upload {
  z-index: 0;
  opacity: 1;
  width: 200px;
  height: 200px;
}

.form-filed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mat-mdc-form-field{
  margin-block-end: 20px;
}
.delete-content{
  font-size: 20px;
    font-weight: 500;
    display: flex;
    line-height: 1.3;
    align-items: flex-end;
}
.delete-image{
  display: flex;
  position: absolute;
  width: 135px;
  height: 135px;
  margin: 0px;
  border-radius: 50%;
  overflow: hidden;
  top: 32px;
}