.dialog-section {
  padding: 30px; 
}

.dialog-head {
  position: sticky;
  top: 0px;
  font-size: 20px;
  font-weight: 500;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-block: 10px;
}

.save_btn {
  margin-left: 10px;
}

.input_file {
  position: absolute;
  opacity: 0;
  z-index: 1;
  height: 200px;
  width: 200px;
}

.images-upload {
  z-index: 0;
  opacity: 1;
  width: 200px;
  height: 200px;
}

.form-filed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}